.table td, .table thead th {
    vertical-align: middle;
}

.autofoto {
    height: 50px;
}

.content {
    padding-top: 56px;
}
.highcharts-title {
    display: none;
}
#container {
    margin-top: 50px !important;
}
.stat h5{
    text-align: center;
}
#myModal {
    padding-top: 100px;
}
.bformBox {
    margin-top: 0px;
}