.bformBox {
    background: none;
    padding: unset;
    margin-top: unset;
    position: relative;
    z-index: 100;
    box-shadow: unset;
}
.dateinput {
  padding: unset;
}
.datelabel {
  margin-left: 5px;
}
.rentendlabel {
  margin-top: 16px;
}
